<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.posserver.posserverspringbootres.dao.BaseMapper">
    <resultMap id="baseMapper" type="com.posserver.posserverspringbootres.pojo.BaseDb">
        <id column="group_id" jdbcType="VARCHAR" property="groupId"/>
        <id column="shop_id" jdbcType="VARCHAR" property="shopId"/>
        <id column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="hash" jdbcType="VARCHAR" property="hash"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
    </resultMap>

    <insert id="insertBase" parameterType="com.posserver.posserverspringbootres.pojo.BaseDb">
        insert into t_base_db (
        group_id, shop_id, file_name,version,hash,create_time
        ) values (#{groupId},#{shopId},#{fileName},'6','7','8')
    </insert>

    <select id="getAllBase" resultMap="baseMapper">
        select * from t_base_db
    </select>


</mapper>