<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.posserver.posserverspringbootres.dao.PayMapper">
    <resultMap id="payList" type="com.posserver.posserverspringbootres.pojo.Pay">
        <id column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo"/>
        <result column="mch_id" jdbcType="VARCHAR" property="mchId"/>
        <result column="total_fee" jdbcType="VARCHAR" property="totalFee"/>
        <result column="auth_code" jdbcType="VARCHAR" property="authCode"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="pay_status" jdbcType="VARCHAR" property="payStatus"/>
        <result column="pay_method" jdbcType="VARCHAR" property="payMethod"/>
        <result column="only_id" jdbcType="VARCHAR" property="onlyid"/>
    </resultMap>
    <sql id =  "Base_Column_List">mch_id,out_trade_no,total_fee,auth_code,app_id,content,pay_status,pay_method,only_id</sql>
    <insert id="insertPayList" parameterType="com.posserver.posserverspringbootres.pojo.Pay">
        insert into t_pay (<include refid="Base_Column_List" />)
        values (#{mchId},#{outTradeNo},#{totalFee},#{authCode},#{appId},#{content},#{payStatus},#{payMethod},#{onlyid})
    </insert>
    <select id="getNewPayList" resultType="com.posserver.posserverspringbootres.pojo.Pay" parameterType="com.posserver.posserverspringbootres.pojo.Pay">
        select <include refid="Base_Column_List" /> from t_pay where out_trade_no = #{outTradeNo}
    </select>


</mapper>